<h1>Workout Graph</h1>
<h2>グラフページ</h2>

<h2> ログインユーザー： <%= current_user.name %> さん </h2>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>


<%# @exercise.each do |e| %>
  <%# "#{e.name}の1RMは#{e.record.RM}です。" %>
<%# end %>

<%= link_to "記録一覧", records_path, method: :get %>
<%# 種目名をクリックして記録一覧ページへ遷移　%>
